	<!-- Home -->

@model HomeViewModel
@{
    ViewData["Title"] = "Trang chủ";

}


<div class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(images/home_slider_1.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">The Premium System Education</div>
                                <div class="home_slider_subtitle">Future Of Education Technology</div>
                                <div class="home_slider_form_container">
                                    <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                        <div class="d-flex flex-row align-items-center justify-content-start">
                                            <input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Category Courses</option>
                                                <option>Category</option>
                                                <option>Category</option>
                                            </select>
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Select Price Type</option>
                                                <option>Price Type</option>
                                                <option>Price Type</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="home_search_button">search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(images/home_slider_1.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">The Premium System Education</div>
                                <div class="home_slider_subtitle">Future Of Education Technology</div>
                                <div class="home_slider_form_container">
                                    <form action="#" id="home_search_form_2" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                        <div class="d-flex flex-row align-items-center justify-content-start">
                                            <input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Category Courses</option>
                                                <option>Category</option>
                                                <option>Category</option>
                                            </select>
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Select Price Type</option>
                                                <option>Price Type</option>
                                                <option>Price Type</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="home_search_button">search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(images/home_slider_1.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">The Premium System Education</div>
                                <div class="home_slider_subtitle">Future Of Education Technology</div>
                                <div class="home_slider_form_container">
                                    <form action="#" id="home_search_form_3" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                        <div class="d-flex flex-row align-items-center justify-content-start">
                                            <input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Category Courses</option>
                                                <option>Category</option>
                                                <option>Category</option>
                                            </select>
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Select Price Type</option>
                                                <option>Price Type</option>
                                                <option>Price Type</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="home_search_button">search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Home Slider Nav -->

    <div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    <div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div>

<!-- Features -->

<div class="features">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Welcome To Unicat E-Learning</h2>
                    <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                </div>
            </div>
        </div>
        <div class="row features_row">

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/client-site/images/icon_1.png" alt=""></div>
                    <h3 class="feature_title">The Experts</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/client-site/images/icon_2.png" alt=""></div>
                    <h3 class="feature_title">Book & Library</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/client-site/images/icon_3.png" alt=""></div>
                    <h3 class="feature_title">Best Courses</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/client-site/images/icon_4.png" alt=""></div>
                    <h3 class="feature_title">Award & Reward</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Popular Courses -->

<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="~/client-site/images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Danh sách lớp học mới</h2>
                    <div class="section_subtitle"><p>Danh sách các lớp học mới nhất</p></div>
                </div>
            </div>
        </div>
        <div class="row courses_row">

            <!-- Course -->
            @foreach (var item in Model.NewClasses)
            {
                var url = "/tutorweb." + item.Id + ".html";
                <div class="col-lg-4 course_col">
                    <div class="course">
                        <div class="course_body">
                            <h3 class="course_title"><a href="@url">Lớp đang cần gia sư</a></h3>
                            <div class="course_teacher"><h4>Môn: @item.Subject.Name</h4></div>
                            <div class="course_text">
                                <h5 class="text-danger">Địa chỉ: @item.Address</h5>
                                <h5 class="text-danger">Ca dạy / tuần: @item.NumberOfSessions</h5>
                                <h5 class="text-danger">Thời gian dạy: @item.TeachingTime</h5>
                                <h5 class="text-danger">Yêu cầu: @item.Request</h5>
                                <h5 class="text-danger">Liên hệ: @item.ContactInfo</h5>
                                <h5 class="text-danger">Ngày đăng: @item.DateCreated.ToShortDateString()</h5>
                            </div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_price ml-auto">Lương: @item.Salary.ToString("N0") VNĐ</div>
                            </div>
                            <div class="course_footer_content d-flex flex-row align-items-lg-end justify-content-end left_col">
                                <button class="btn btn-primary register-class" data-id="@item.Id" btn-md>Nhận lớp</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="~/client-site/#">Xem tất cả các lớp học</a></div>
            </div>
        </div>
    </div>
</div>
