
@model HomeViewModel
@{
    ViewData["Title"] = "Trang chủ";

}


<div class="home" style="height:120px">

</div>

<!-- Features -->

<div class="features">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Welcome To Unicat E-Learning</h2>
                    <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                </div>
            </div>
        </div>
        <div class="row features_row">

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/client-site/images/icon_1.png" alt=""></div>
                    <h3 class="feature_title">The Experts</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/client-site/images/icon_2.png" alt=""></div>
                    <h3 class="feature_title">Book & Library</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/client-site/images/icon_3.png" alt=""></div>
                    <h3 class="feature_title">Best Courses</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/client-site/images/icon_4.png" alt=""></div>
                    <h3 class="feature_title">Award & Reward</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Popular Courses -->

<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="client-site/images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Danh sách lớp học mới</h2>
                    <div class="section_subtitle"><p>Danh sách các lớp học mới nhất</p></div>
                </div>
            </div>
        </div>
        <div class="row courses_row">

            <!-- Course -->
            @foreach (var item in Model.NewClasses)
            {
                <div class="col-lg-4 course_col">
                    <div class="course">
                        <div class="course_body">
                            <h3 class="course_title">Lớp đang cần gia sư</h3>
                            <div class="course_teacher"><h4>Môn: @item.Subject.Name</h4></div>
                            <div class="course_text">
                                <h5 class="text-danger">Địa chỉ: @item.Address</h5>
                                <h5 class="text-danger">Ca dạy / tuần: @item.NumberOfSessions</h5>
                                <h5 class="text-danger">Thời gian dạy: @item.TeachingTime</h5>
                                <h5 class="text-danger">Yêu cầu: @item.Request</h5>
                                <h5 class="text-danger">Liên hệ: @item.ContactInfo</h5>
                                <h5 class="text-danger">Ngày đăng: @item.DateCreated.ToShortDateString()</h5>
                            </div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_price ml-auto">Lương: @item.Salary.ToString("N0") VNĐ</div>
                            </div>
                            <div class="course_footer_content d-flex flex-row align-items-lg-end justify-content-end left_col">
                                <button class="btn btn-primary register-class" data-id="@item.Id" btn-md>Nhận lớp</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="/all-classes.html">Xem tất cả các lớp học</a></div>
            </div>
        </div>
    </div>
</div>
